<%- include('compoment/adminHeader', {type: 'admin.listManage'}) %>

<body style="padding: 20px">
    <blockquote class="layui-elem-quote">列表信息管理</blockquote>
    <table class="layui-hide" id="listInfo" lay-filter="listInfo"></table>
    <script type="text/html" id="toolbarListAdd">
        <button class="layui-btn layui-btn-sm" id="listAddInfo" lay-event="listAddInfo">添加列表信息</button>
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-warm layui-btn-sm" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
    </script>
    <script>
        layui.use('table', function () {
            var table = layui.table;
            var $ = layui.jquery;

            //监听工具条
            table.on('tool(listInfo)', function (obj) {
                if (obj.event === 'detail') {
                    detailListInfo(obj)
                } else if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        deleteListInfo(obj, index)
                    });
                } else if (obj.event === 'edit') {
                    updateListInfo(obj)
                }
            });

            table.render({
                elem: '#listInfo',
                url: '/data/listInfo',
                page: true,
                cellMinWidth: 80,
                toolbar: '#toolbarListAdd',
                cols: [[
                    { field: 'id', title: 'ID', width: '4%', align:'center', sort: true },
                    { field: 'title', title: '标题', width: '18%' },
                    { field: 'description', title: '描述' },
                    { field: 'columnName', title: '栏目', width: '8%', align:'center', templet: function (item) {
                            return `${item.classname}[${item.classid}]`
                        }
                    },
                    { field: 'posttime', title: '更新时间', width: '10%', sort: true, align:'center', templet: (item) => {
                            return layui.util.toDateString(item.posttime, 'yyyy-mm-dd')
                        }
                    },
                    { field: 'author', title: '发布人', width: '10%', align:'center' },
                    { field: 'hits', title: '点击', width: '5%', sort: true, align:'center' },
                    { fixed: 'right', title:'操作', width: '15%', align:'center', toolbar: '#barDemo' }
                ]]
            });

            $("#listAddInfo").click(function () {
                layer.open({
                    title: '新增列表信息',
                    type: 2,
                    area: ['50%', '90%'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: `/admin/listManage/add`
                })
            })

            function updateListInfo(obj) {
                layer.open({
                    title: '修改列表信息',
                    type: 2,
                    area: ['50%', '90%'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: `/admin/listManage/update/${obj.data.id}`
                })
            }

            function detailListInfo(obj) {
                layer.open({
                    title: '列表信息详细',
                    type: 2,
                    area: ['50%', '90%'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: `/admin/listManage/detail/${obj.data.id}`
                })
            }

            function deleteListInfo(obj, index) {
                try {
                    let params = { id: obj.data.id }
                    let url = `/data/listInfo/del`
                    $.post(url, params, function (res) {
                        if (res.code === 200) {
                            layer.msg(res.message)
                            obj.del();
                            layer.close(index);
                        } else {
                            layer.msg(res.message)
                        }
                    }, 'json')
                } catch (e) {
                    layer.msg(e)
                }
            }
        })
    </script>
<% include compoment/adminFooter %>
